<%= form_for(@body_index, url:{action:"create"}) do |f| %>

<div class="field">
    <%= f.label :mass, "Mass(Kg)" %><br>
    <%= f.text_field :mass, :value => (@result.mass if @result) %>
  </div>
  <div class="field">
    <%= f.label :height, "Height(m)" %><br>
    <%= f.text_field :height, :value => (@result.height if @result) %>
  </div>
  <div class="field">
    <%= f.label :result, "(IMC)" %><br>
    <%= f.text_field :result, :value => (@result.result if @result) %>
  </div>
  <%= f.hidden_field :user_id, :value => session[:user][:id] %>
  <div id="calculate">
    Calculate
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>


<% end %>
<%= link_to "Story", controller: "mass", action: "show" %>
