<%= form_for(@body_index) do |f| %>

 <div class="field">
    <%= f.label :mass %><br>
    <%= f.text_field :mass %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
